/* Select only child class from main div */ 
main > div {
    color: green 
}

/* Select divs with grand-child class*/
main > div > div {
   color: pink 
}

.das-button:hover {
    background-color: aqua;
    font-size: 2rem;
    font-weight: bold;
    padding: 2vh
}

.das-button::before {
    padding: 2vh;
    content: "Warning: Don't Click Me!";
}

.das-button::after {
    padding: 2vh;
}

.das-button:hover::before {
    padding: 2vh;
    content: "Seriously, don't do it!";
}

.das-button:active {
    background-color: fuchsia;
    font-size: 5rem;
    font-weight: 100;
    padding: 12vh;
} 

.das-button:active::before {
    padding: 2vh;
    content: "Omg, you actually did it!";
}

body {
    background: linear-gradient(to right, green, lightblue);
}

#coolio {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;
}

ul li::marker {
    color: mediumvioletred;
    font-size: 100%
}

.emojify::before {
    content: '😎 🥸 🤓';
}

.emojify::after {
    content: '🤓 🥸 😎';
}

dialog::backdrop {
    background-color: rgb(234, 112, 112);
}

li::first-letter {
    font-size: 1.5rem;
    font-weight: bold;
    color: purple;
  }

