@font-face {
    font-family: Norse-Bold;
    src: url(./Norse-Bold.otf);
}

h1 {
    font-family: Norse-Bold, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.left {
    background-image: url('./sneffels.jpg');
    width: 50vw;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-family: Norse-Bold, sans-serif;
}


.right {
    display: flex;
    flex-direction: column;
    color: black;
    font-family: sans-serif;
    background-color: rgb(225, 225, 225);
}

.first {
    height: 33vh; 
    display: flex;
    align-items: center;
    padding: 30px;
    text-align: center;
}

.second {
    height: 33vh;
}

.third {
    height: 33vh;
}