@font-face {
    font-family: Norse-Bold;
    src: url(./Norse-Bold.otf);
}

h1 {
    font-family: Norse-Bold, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.left {
    background-image: url('./waterfall.jpg');
    width: 35vw;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: Norse-Bold, sans-serif;
}


.right {
    display: flex;
    justify-content: center;
}