
* {
    margin: 0;
    padding: 0;
   
}

.header {
    background-color: #2b394c;
} 

.nav {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    padding-top: 25px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 15px;
    font-size: 18px;
    color: #E5E7EB;
    font-family: Arial, Helvetica, sans-serif;
    
}

.left-nav {
    display: flex;
    height: auto;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.right-nav {
    display: flex;
    gap: 22px; 
    max-width: 100%;
    height: auto 
}

.welcome {
    box-sizing: border-box;
    display: flex;
    padding-left: 100px; 
    padding-right: 100px;
    padding-bottom: 100px;
    padding-top: 75px;
    align-items: center;
    justify-content: flex-start;
    border-color: #1F2937;

}

.welcome-text {
    margin-right: 270px 
}

.welcome-image {
    max-width: 100%;
    height: auto
}

p, h1 {
    display: flex; 
    flex-wrap: wrap;
    max-width: 350px;
    color: #E5E7EB;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 350px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px; 
    margin-bottom: 15px
}

p {
    font-size: 18px;
    margin-bottom: 40px 
} 

.top-button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 25px;
    border: 2px solid #E5E7EB;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    flex: 0;
    margin-left: 90px

}

.text {
    display: flex;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.photography {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 100px; 
    gap: 30px 
}

.mountains {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pics {
    width: 370px;
    height: 270px; 
}

.quote {
    background-color: #E5E7EB;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    font-family: Arial, Helvetica, sans-serif;
    padding: 100px;
    min-width: auto
}

.sign-up {
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px; 
    border: 100px solid white; 
    flex-wrap: nowrap;
    flex: 1 1 auto;
    min-width: 500px
}

.container {
    display: flex;
    flex-direction: column;
    margin-left: 275px 
    
}

.container-h1 {
    font-size: 25px;
    font-weight: bold;
}

.bottom-button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 25px;
    border: 2px solid #E5E7EB;
    font-size: 16px;
    padding: 20px; 
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    margin-right: 275px; 

}

.footer { 
    background-color: #2b394c;
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px 
}

a:link {text-decoration: none;}
a{color: #F9FAF8; font-family: Arial, Helvetica, sans-serif;}
a:visited {color: #F9FAF8}
a:hover {color: #E5E7EB}
