:root {
    --sassy-font: hotpink; 
    --big-text: 40px; 
    color: var(--sassy-font)
}

body {
    background: linear-gradient(to right, rgb(95, 186, 95), rgb(0, 179, 255))
}

.parent {
    position: static;
    height: 500vh;
    color: white;
    font-size: 1.5rem;
}

.child-one {
    /* Absolute completely removes element from document flow
       Helfpul when you want to stick element in specific position 
       But want to keep everything around it static*/
    position: sticky; 
    top: 0; 
    background-color: rgb(44, 216, 44);
    color: var(--sassy-font);
    font-size: var(--big-text);
}

.child-two {
    background-color: rgb(206, 157, 165);
    top: 20px;
    color: brown;
    font-size: var(--big-text);
}

.child-three {
    background-color: rgb(221, 44, 221);
    position: sticky;
    top: 0; 
    font-size: var(--big-text);
}