body {
    background: linear-gradient(to right, rgb(230, 108, 129), rgb(152, 25, 152));
}

.numbers {
    border: solid 1px black;
    padding: 2rem;
    background-color: orange;
    font-size: 50px;
    margin: 1rem;
    align-items: center;
}

.reverse {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
}

.reverse.now {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
