body {
    background: linear-gradient(to right, rgb(230, 108, 129), rgb(152, 25, 152));
}

.numbers {
    border: solid 1px black;
    padding: 2rem;
    font-size: 50px;
    margin-top: 180px;
    margin-bottom: 20px;
    background-color: orange;
}

.numbers.normal {
    background-color: green;
    color: blue;
}


.container {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
}

.container.reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

button {
    margin: 10px;
}