body {
    background-image: url("sky.jpg");
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    background-color: rgba(255, 255, 255, .5);
}

#payment {
    font-size: 20px;
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
  border: none;
  margin: 10px; 
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

#travel {
    background-color: rgba(225, 225, 225, 0.756);
}

#travel-heading {
    font-size: 20px;
}

#method, 
#card-type {
    font: 1em sans-serif;
}

#name-label {
    display: flex;
    
}

#mail-label {
    display: flex;
}

#card-type {
    display: flex; 
}

#credit-card {
    display: flex; 
}

#button-div {
    display: flex; 
}

button {
    margin: 5px;
    font: 1em sans-serif;
}

.form-border {
    background-color: rgba(225, 225, 225, 0.756);
}

input,
textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

h1 {
    display: flex; 
    justify-content: center;
}
 
#expo,
#cvv {
    width: max(50px, 5.45em)
}

fieldset {
    width: min(450px);
    box-sizing: border-box;
    border: 1px solid #999;
  }